﻿.flexslider .slides img {
    height: 500px;
}
#carousel img {
    width: 120px;
    height: 120px;
}

.product-detail .product-short-desc {
    margin: 30px 0;
}

.product-price {
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    text-align: left;
    border: 2px dashed #E0E0E0;
}

.product-price h3 {
    font-size: 30px;
    font-weight: 400;
    color: #26B99A;
    margin: 0;
}

.product-attrs input {
    left: -9999px;
    position: absolute;
}

.product-attrs label {
    width: 80px;
    height: 40px;
    float: right;
    display: block;
    color: #dedede;
    font-size: 24px;
    text-align: center;
    background: #f8f8f8;
    border: 2px solid #dedede;
    font-weight: normal;
}

.product-attrs label {
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.product-attrs label:hover {
	cursor: pointer;
	border: 2px solid #18ba9b;
}

.product-attrs input:checked ~ label {
    color: #18ba9b;
    border-color: #18ba9b;
}

.sp-wrap {
    background: none;
    border: none;
}