﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">Create Product</h2>
        <h2 ng-if="vm.isEditMode">Edit Product</h2>
    </div>
    <div class="panel-body">
        <form name="productForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <uib-tabset>
                <uib-tab index="0" heading="Product Information">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Name</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="vm.product.name" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Manufacturer</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.product.manufacturerId" ng-options="manufacturer.id as manufacturer.name for manufacturer in vm.manufacturers"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Short Description</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.shortDescUpload(files)" editor="vm.shortDescEditor" ng-model="vm.product.shortDescription"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.descUpload(files)" editor="vm.descEditor" ng-model="vm.product.description"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Specification</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.specUpload(files)" editor="vm.specEditor" ng-model="vm.product.specification"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" name="price" ng-model="vm.product.price" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Old Price</label>
                        <div class="col-sm-10">
                            <input type="number" name="oldPrice" ng-model="vm.product.oldPrice" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Thumbnail</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.thumbnailImage" name="thumbnailImage" ngf-accept="'image/*'">
                            <img ngf-src="vm.thumbnailImage" ngf-resize="{width: 100, height: 100, quality: 0.9}">
                            <img ng-show="!vm.thumbnailImage && vm.product.thumbnailImageUrl" ng-src="{{vm.product.thumbnailImageUrl}}" style="width: 100px; height: 100px" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Images</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.productImages" ngf-multiple="true" name="productImages" ngf-accept="'image/*'">
                            <span class="product-image-edit" ng-repeat="image in vm.product.productMedias">
                                <img ng-src="{{image.mediaUrl}}" style="width: 100px; height: 100px" />
                                <button type="button" ng-click="vm.removeMedia(image)" class="btn btn-link" aria-label="Remove">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                            <span class="product-image-edit" ng-repeat="image in vm.productImages">
                                <img ngf-src="image" ngf-resize="{width: 100, height: 100, quality: 0.9}">
                            </span>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Product Variations">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Available Options</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.addingOption" ng-options="opt as opt.name for opt in vm.options"></select>
                                </div>
                                <button class="btn btn-default" ng-disabled="!vm.addingOption" ng-click="vm.addOption()">Add Option</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="vm.product.options.length > 0">
                        <label class="col-sm-2 control-label">Option Values</label>
                    </div>
                    <div class="form-group" ng-show="vm.product.options.length > 0">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group" ng-repeat="option in vm.product.options">
                                <label class="col-sm-1 control-label">{{option.name}}</label>
                                <div class="col-sm-11">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <md-chips ng-model="option.values"
                                                      placeholder="Enter a {{option.name}}"
                                                      delete-button-label="Remove {{option.name}}"
                                                      delete-hint="Press delete to remove {{option.name}}"
                                                      secondary-placeholder="+{{option.name}}">
                                            </md-chips>
                                        </div>
                                        <button class="btn btn-default" ng-click="vm.deleteOption(option)">Delete Option</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!vm.isEditMode" ng-show="vm.product.options.length > 0">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" ng-click="vm.generateOptionCombination()">Generate Combinations</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Variations</label>
                        <div class="col-sm-10">
                            <table class="table table-striped">
                                <tr>
                                    <th class="col-sm-5">Option Combinations</th>
                                    <th class="col-sm-2">(+)/(-) Price</th>
                                    <th class="col-sm-3">Picture</th>
                                    <th class="col-sm-2">Actions</th>
                                </tr>
                                <tr ng-repeat="variation in vm.product.variations">
                                    <td>{{variation.name}}</td>
                                    <td><input type="number" required class="form-control" ng-model="variation.priceOffset" /></td>
                                    <td></td>
                                    <td>
                                        <button ng-click="vm.deleteVariation(variation)" type="button" class="btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-show="vm.product.options.length > 0">
                                    <td class="variation-form" colspan="4">
                                        <ng-form name="addingVariationForm" isolate-form>
                                            <table class="table">
                                                <tr>
                                                    <td class="col-sm-5">
                                                        <div class="form-group row">
                                                            <div ng-repeat="option in vm.product.options">
                                                                <div class="col-md-4">
                                                                    <select required class="form-control" ng-model="vm.addingVariation[option.name]"
                                                                            ng-options="value as value for value in option.values | filter: vm.filterAddedOptionValue"></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-sm-2"><input type="number" class="form-control" ng-model="vm.addingVariation.priceOffset" /></td>
                                                    <td class="col-sm-3"></td>
                                                    <td class="col-sm-2"><button type="button" class="btn btn-primary" ng-disabled="addingVariationForm.$invalid" ng-click="vm.addVariation()"><span class="glyphicon glyphicon-plus"></span></button></td>
                                                </tr>
                                            </table>
                                        </ng-form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Product Attributes">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Template</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.product.template" ng-options="template as template.name for template in vm.productTemplates"></select>
                                </div>
                                <button class="btn btn-default" ng-disabled="!vm.product.template" ng-click="vm.applyTemplate()">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Available Attributes</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.addingAttribute" ng-options="attr as attr.name group by attr.groupName for attr in vm.attributes"></select>
                                </div>
                                <button class="btn btn-default" ng-disabled="!vm.addingAttribute" ng-click="vm.addAttribute()">Add Attribute</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Attributes</label>
                        <div class="col-sm-10">
                            <table class="table table-striped">
                                <tr>
                                    <th>Attribute Name</th>
                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                                <tr ng-repeat="attr in vm.product.attributes">
                                    <td>{{attr.name}}</td>
                                    <td><input type="text" class="form-control" ng-model="attr.value"/></td>
                                    <td>
                                        <button ng-click="vm.deleteAttribute(attr)" type="button" class="btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Category Mapping">
                    <md-content class="md-padding">
                        <md-input-container class="md-block">
                            <div ng-repeat="category in vm.categories">
                                <md-checkbox ng-checked="vm.product.categoryIds.indexOf(category.id) > -1" ng-click="vm.toggleCategories(category.id)">
                                    {{ category.name }}
                                </md-checkbox>
                            </div>
                        </md-input-container>
                    </md-content>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-disabled="productForm.$invalid" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
                    <button ui-sref="product" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>