﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">Create Manufacturer</h2>
        <h2 ng-if="vm.isEditMode">Edit Manufacturer</h2>
    </div>
    <div class="panel-body">
        <form name="manufacturerForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Manufacturer Name</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.manufacturer.name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
                    <button ui-sref="manufacturer" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>